In [1]:
# Merging Data

In [2]:
# Importing dependancies
import pandas as pd

In [3]:
# Read files
acs = pd.read_csv("Cleaning Data/Cleaned Data/cleaned_acs.csv")
demo = pd.read_csv("Cleaning Data/Cleaned Data/cleaned_demographic.csv")
costco = pd.read_csv("Cleaning Data/Cleaned Data/cleaned_costco.csv")

In [4]:
# ACS Demo merge one
acs_demo_merge = acs.merge(demo, on='ZIP', how="outer")

# Merged
merged = acs_demo_merge.merge(costco, on='ZIP', how="outer")

In [5]:
# Dropping Columns
merged = merged.drop('Unnamed: 0_x', axis=1)
merged = merged.drop('Unnamed: 0_y', axis=1)
merged = merged.drop('longitude', axis=1)
merged = merged.drop('latitude', axis=1)
merged = merged.drop('CITY_y', axis=1)
merged = merged.drop('STATE_y', axis=1)
merged = merged.drop('ADDRESS', axis=1)

In [6]:
# Adding '0' for Zip Codes
merged['ZIP'] = merged['ZIP'].apply(lambda x : str(x).zfill(5))

In [7]:
merged

,ZIP,CITY_x,STATE_x,2019_Total_Population:_20_to_24_Years,2019_Total_Population:_25_to_29_Years,2019_Total_Population:_30_to_34_Years,2019_Total_Population:_35_to_39_Years,2019_Total_Population:_40_to_44_Years,2019_Total_Population:_45_to_49_Years,2019_Total_Population:_50_to_54_Years,...,2019_Median_HH_Income:_HHr_Age_15-24,2019_Median_HH_Income:_HHr_Age_25-44,2019_Median_HH_Income:_HHr_Age_45-64,2019_Median_HH_Income:_HHr_Age_65+,2021_Median_Household_Income,2026_Median_Household_Income,2021_Average_Household_Income,2026_Average_Household_Income,2021-2026_Population:_Compound_Annual_Growth_Rate,COSCTO_HEARING_CENTER
0,01001,Agawam,MA,650,1027,1153,773,1217,1038,1331,...,27747,78863,81899,45841,68392,76174,87293,98284,0.08,NaN
1,01002,Amherst,MA,11249,2023,1344,1017,951,1012,1273,...,26373,55775,98699,77235,63315,71008,93933,104369,0.27,NaN
2,01003,Amherst,MA,2734,31,0,7,0,0,0,...,5000,0,0,87500,7500,7500,12124,13505,0.00,NaN
3,01005,Barre,MA,414,213,310,121,149,475,368,...,5000,79869,84112,51184,77915,88169,107888,123463,0.52,NaN
4,01007,Belchertown,MA,1252,597,755,987,823,1113,1416,...,28089,100454,112125,54294,97576,104725,115051,128399,0.53,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32109,99923,Hyder,AK,0,0,0,0,0,0,0,...,0,0,0,37500,42500,42500,42500,44118,0.59,NaN
32110,99925,Klawock,AK,41,47,52,26,41,71,79,...,16902,62061,76387,35443,51945,50630,67266,68683,0.72,NaN
32111,99926,Metlakatla,AK,107,120,109,95,79,104,116,...,27500,62796,76302,32565,53259,52375,65897,68394,0.69,NaN
32112,99929,Wrangell,AK,51,186,113,96,126,181,199,...,30904,62225,74787,36705,53451,54132,72599,76792,0.24,NaN
32113,99950,Ketchikan,AK,30,49,50,70,61,67,47,...,12915,62498,43053,40000,44941,48013,52908,56569,0.73,NaN

In [8]:
# Saving the DataFrame as a csv
merged.to_csv('ml_data.csv')