In [1]:
# Merging Data

In [2]:
# Importing dependancies
import pandas as pd

In [3]:
# Read files
acs = pd.read_csv("Cleaning Data/Cleaned Data/cleaned_acs.csv")
demo = pd.read_csv("Cleaning Data/Cleaned Data/cleaned_demographic.csv")
costco = pd.read_csv("Cleaning Data/Cleaned Data/cleaned_costco.csv")

In [4]:
demo = demo.drop('Unnamed: 0', axis=1)

In [5]:
costco

,Unnamed: 0,ADDRESS,STATE,CITY,ZIP,latitude,longitude,COSTCO_HEARING_CENTER
0,0,5225 COMMERCIAL BLVD,AK,JUNEAU,99801,58.357780,-134.482631,Yes
1,1,48 COLLEGE RD,AK,FAIRBANKS,99701,64.851944,-147.708494,Yes
2,2,4125 DEBARR RD,AK,ANCHORAGE,99508,61.209680,-149.804290,Yes
3,3,330 W DIMOND BLVD,AK,ANCHORAGE,99515,61.144600,-149.885433,Yes
4,4,1205 N. MEMORIAL PKWY,AL,HUNTSVILLE,35801,34.742422,-86.601066,Yes
...,...,...,...,...,...,...,...,...
578,578,3360 EL CAMINO AVE,CA,SACRAMENTO,95821,38.607497,-121.386672,No
579,579,2376 S EVERGREEN LOOP,CA,SAN JOSE,95122,37.317854,-121.810956,No
580,580,400 S ZUNI ST,CO,DENVER,80223,39.708840,-105.015680,No
581,581,12717 NETWORK DR,TX,STAFFORD,77477,29.638677,-95.577510,No
582,582,3900 20TH ST E,WA,FIFE,98424,47.239000,-122.375090,No

In [6]:
costco = costco.drop('Unnamed: 0', axis=1)

In [7]:
# ACS Demo merge
acs_demo_merge = acs.merge(demo, on='ZIP', how="outer")

# Merged
merged = acs_demo_merge.merge(costco, on='ZIP', how="outer")

In [8]:
acs_demo_merge

,Unnamed: 0,ZIP,CITY,STATE,2019_Total_Population:_20_to_24_Years,2019_Total_Population:_25_to_29_Years,2019_Total_Population:_30_to_34_Years,2019_Total_Population:_35_to_39_Years,2019_Total_Population:_40_to_44_Years,2019_Total_Population:_45_to_49_Years,...,2019_Pop_Age_25+:_Doctorate_Degree,2019_Median_HH_Income:_HHr_Age_15-24,2019_Median_HH_Income:_HHr_Age_25-44,2019_Median_HH_Income:_HHr_Age_45-64,2019_Median_HH_Income:_HHr_Age_65+,2021_Median_Household_Income,2026_Median_Household_Income,2021_Average_Household_Income,2026_Average_Household_Income,2021-2026_Population:_Compound_Annual_Growth_Rate
0,0,1001,Agawam,MA,650,1027,1153,773,1217,1038,...,86,27747,78863,81899,45841,68392,76174,87293,98284,0.08
1,1,1002,Amherst,MA,11249,2023,1344,1017,951,1012,...,2140,26373,55775,98699,77235,63315,71008,93933,104369,0.27
2,2,1003,Amherst,MA,2734,31,0,7,0,0,...,0,5000,0,0,87500,7500,7500,12124,13505,0.00
3,3,1005,Barre,MA,414,213,310,121,149,475,...,28,5000,79869,84112,51184,77915,88169,107888,123463,0.52
4,4,1007,Belchertown,MA,1252,597,755,987,823,1113,...,312,28089,100454,112125,54294,97576,104725,115051,128399,0.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32104,32104,99923,Hyder,AK,0,0,0,0,0,0,...,0,0,0,0,37500,42500,42500,42500,44118,0.59
32105,32105,99925,Klawock,AK,41,47,52,26,41,71,...,0,16902,62061,76387,35443,51945,50630,67266,68683,0.72
32106,32106,99926,Metlakatla,AK,107,120,109,95,79,104,...,0,27500,62796,76302,32565,53259,52375,65897,68394,0.69
32107,32107,99929,Wrangell,AK,51,186,113,96,126,181,...,8,30904,62225,74787,36705,53451,54132,72599,76792,0.24
32108,32108,99950,Ketchikan,AK,30,49,50,70,61,67,...,0,12915,62498,43053,40000,44941,48013,52908,56569,0.73

In [9]:
# Dropping Columns
#merged = merged.drop('Unnamed: 0_x', axis=1)
merged = merged.drop('Unnamed: 0', axis=1)
merged = merged.drop('longitude', axis=1)
merged = merged.drop('latitude', axis=1)
merged = merged.drop('CITY_y', axis=1)
merged = merged.drop('STATE_y', axis=1)
merged = merged.drop('ADDRESS', axis=1)

In [10]:
# Adding '0' for Zip Codes
merged['ZIP'] = merged['ZIP'].apply(lambda x : str(x).zfill(5))

In [11]:
print(merged.columns)

Index(['ZIP', 'CITY_x', 'STATE_x', '2019_Total_Population:_20_to_24_Years',
       '2019_Total_Population:_25_to_29_Years',
       '2019_Total_Population:_30_to_34_Years',
       '2019_Total_Population:_35_to_39_Years',
       '2019_Total_Population:_40_to_44_Years',
       '2019_Total_Population:_45_to_49_Years',
       '2019_Total_Population:_50_to_54_Years',
       '2019_Total_Population:_55_to_59_Years',
       '2019_Total_Population:_60_to_64_Years',
       '2019_Total_Population:_65_to_69_Years',
       '2019_Population_Age_25+_by_Educational_Attainment_Base',
       '2019_Pop_Age_25+:_No_Schooling',
       '2019_Pop_Age_25+:_9th-12th_(No_Diploma)',
       '2019_Pop_Age_25+:_High_School_Diploma',
       '2019_Pop_Age_25+:_GED/Alternative_Credential',
       '2019_Pop_Age_25+:_Some_College/No_Degree',
       '2019_Pop_Age_25+:_Associate_Degree',
       '2019_Pop_Age_25+:_Bachelors_Degree',
       '2019_Pop_Age_25+:_Graduate_Degree',
       '2019_Pop_Age_25+:_Professional_School_Degree',
       '2019_Pop_Age_25+:_Doctorate_Degree',
       '2019_Median_HH_Income:_HHr_Age_15-24',
       '2019_Median_HH_Income:_HHr_Age_25-44',
       '2019_Median_HH_Income:_HHr_Age_45-64',
       '2019_Median_HH_Income:_HHr_Age_65+', '2021_Median_Household_Income',
       '2026_Median_Household_Income', '2021_Average_Household_Income',
       '2026_Average_Household_Income',
       '2021-2026_Population:_Compound_Annual_Growth_Rate',
       'COSTCO_HEARING_CENTER'],
      dtype='object')

In [12]:
merged

,ZIP,CITY_x,STATE_x,2019_Total_Population:_20_to_24_Years,2019_Total_Population:_25_to_29_Years,2019_Total_Population:_30_to_34_Years,2019_Total_Population:_35_to_39_Years,2019_Total_Population:_40_to_44_Years,2019_Total_Population:_45_to_49_Years,2019_Total_Population:_50_to_54_Years,...,2019_Median_HH_Income:_HHr_Age_15-24,2019_Median_HH_Income:_HHr_Age_25-44,2019_Median_HH_Income:_HHr_Age_45-64,2019_Median_HH_Income:_HHr_Age_65+,2021_Median_Household_Income,2026_Median_Household_Income,2021_Average_Household_Income,2026_Average_Household_Income,2021-2026_Population:_Compound_Annual_Growth_Rate,COSTCO_HEARING_CENTER
0,01001,Agawam,MA,650.0,1027.0,1153.0,773.0,1217.0,1038.0,1331.0,...,27747.0,78863.0,81899.0,45841.0,68392.0,76174.0,87293.0,98284.0,0.08,NaN
1,01002,Amherst,MA,11249.0,2023.0,1344.0,1017.0,951.0,1012.0,1273.0,...,26373.0,55775.0,98699.0,77235.0,63315.0,71008.0,93933.0,104369.0,0.27,NaN
2,01003,Amherst,MA,2734.0,31.0,0.0,7.0,0.0,0.0,0.0,...,5000.0,0.0,0.0,87500.0,7500.0,7500.0,12124.0,13505.0,0.00,NaN
3,01005,Barre,MA,414.0,213.0,310.0,121.0,149.0,475.0,368.0,...,5000.0,79869.0,84112.0,51184.0,77915.0,88169.0,107888.0,123463.0,0.52,NaN
4,01007,Belchertown,MA,1252.0,597.0,755.0,987.0,823.0,1113.0,1416.0,...,28089.0,100454.0,112125.0,54294.0,97576.0,104725.0,115051.0,128399.0,0.53,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32114,00725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
32115,00924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
32116,00959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
32117,00926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
32118,00961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes

In [13]:
# Renaming Column
merged.rename(columns={"2021-2026_Population:_Compound_Annual_Growth_Rate":"2021_2026_Population:_Compound_Annual_Growth_Rate"}, inplace=True)

In [14]:
# Saving the DataFrame as a csv
merged.to_csv('ml_data.csv')