In [1]:
# Import dependencies.
import pandas as pd
import numpy as np

In [2]:
# File to Load
acs_data = "../Raw Data/CY2015_2019_AmerCommunSurvey.csv"

In [3]:
# Read the school data file and store it in a Pandas DataFrame.
acs_df = pd.read_csv(acs_data)
acs_df

,ZIP,CITY,STATE,2019_Total_Population,2019_Total_Households,2019_Total_Housing_Units,2019_Owner_Households,2019_Total_Population:_Under_5_Years,2019_Total_Population:_5_to_9_Years,2019_Total_Population:_10_to_14_Years,...,2019_HHs_with_No_Persons_with_a_Disability,2019_Median_Home_Value,2019_Average_Home_Value,2019_Average_Value_of_Owner_Households_w/Mortgage,2019_Average_Value_of_Owner_Households_w/No_Mortgage,2019_Renter_Households,2019_Median_Contract_Rent_(HHs_Paying_Cash_Rent),2019_Average_Contract_Rent_(HHs_Paying_Cash_Rent),2019_Median_Gross_Rent_(HHs_Paying_Cash_Rent),2019_Average_Gross_Rent_(HHs_Paying_Cash_Rent)
0,1001,Agawam,MA,17030,7339,7582,5418,885,882,1015,...,5585,213938,223205.0,223729.0,222314.0,1921,1036,NaN,1148,NaN
1,1002,Amherst,MA,35292,9795,10986,4778,861,1048,1126,...,7786,355068,NaN,NaN,NaN,5017,1279,NaN,1378,NaN
2,1003,Amherst,MA,5991,3,4,2,0,0,0,...,3,625000,NaN,NaN,NaN,1,0,NaN,0,NaN
3,1005,Barre,MA,5285,1969,2192,1647,136,226,383,...,1499,235969,279675.0,281451.0,NaN,322,818,NaN,995,NaN
4,1007,Belchertown,MA,14977,5555,5978,4524,877,825,967,...,4394,276940,288417.0,308487.0,239440.0,1031,909,NaN,975,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32104,99923,Hyder,AK,14,14,67,14,0,0,0,...,14,225000,NaN,NaN,NaN,0,0,NaN,0,NaN
32105,99925,Klawock,AK,807,279,357,203,60,39,57,...,132,183594,223381.0,186812.0,232383.0,77,535,588.0,731,762.0
32106,99926,Metlakatla,AK,1654,487,552,361,83,122,185,...,268,155114,NaN,NaN,NaN,126,483,NaN,663,NaN
32107,99929,Wrangell,AK,2486,1019,1467,690,119,89,151,...,666,215678,223076.0,267613.0,196147.0,329,709,NaN,844,NaN
32108,99950,Ketchikan,AK,909,367,748,280,49,64,49,...,203,187500,227798.0,218871.0,231227.0,87,531,NaN,733,NaN

In [4]:
# Find unique values
acs_df.nunique(axis=0,dropna=True,)

ZIP                                                  32109
CITY                                                 16944
STATE                                                   51
2019_Total_Population                                15456
2019_Total_Households                                10625
                                                     ...
2019_Renter_Households                                6291
2019_Median_Contract_Rent_(HHs_Paying_Cash_Rent)      2124
2019_Average_Contract_Rent_(HHs_Paying_Cash_Rent)     1579
2019_Median_Gross_Rent_(HHs_Paying_Cash_Rent)         2128
2019_Average_Gross_Rent_(HHs_Paying_Cash_Rent)        1586
Length: 221, dtype: int64

In [5]:
# Drop 
acs_df = acs_df.drop('2019_Total_Households', axis=1)
acs_df = acs_df.drop('2019_Renter_Households', axis=1)
acs_df = acs_df.drop('2019_Median_Contract_Rent_(HHs_Paying_Cash_Rent)', axis=1)
acs_df = acs_df.drop('2019_Average_Contract_Rent_(HHs_Paying_Cash_Rent)', axis=1)
acs_df = acs_df.drop('2019_Median_Gross_Rent_(HHs_Paying_Cash_Rent)', axis=1)
acs_df = acs_df.drop('2019_Average_Gross_Rent_(HHs_Paying_Cash_Rent)', axis=1)
acs_df = acs_df.drop('2019_Total_Housing_Units', axis=1)
acs_df = acs_df.drop('2019_Owner_Households', axis=1)
acs_df = acs_df.drop('2019_Median_Home_Value', axis=1)
acs_df = acs_df.drop('2019_Average_Home_Value', axis=1)
acs_df = acs_df.drop('2019_Average_Value_of_Owner_Households_w/Mortgage', axis=1)
acs_df = acs_df.drop('2019_Average_Value_of_Owner_Households_w/No_Mortgage', axis=1)
acs_df = acs_df.drop('2019_Total_Population:_Under_5_Years', axis=1)
acs_df = acs_df.drop('2019_Total_Population:_5_to_9_Years', axis=1)
acs_df = acs_df.drop('2019_Total_Population:_10_to_14_Years', axis=1)
acs_df = acs_df.drop('2019_Total_Population:_15_to_19_Years', axis=1)
acs_df = acs_df.drop('2019_Total_Population:_70_to_74_Years', axis=1)
acs_df = acs_df.drop('2019_Total_Population:_75_to_79_Years', axis=1)
acs_df = acs_df.drop('2019_Total_Population:_80_to_84_Years', axis=1)
acs_df = acs_df.drop('2019_Total_Population:_85_Years_and_Over', axis=1)
acs_df = acs_df.drop('2019_Male_Population', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_Under_5_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_5_to_9_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_10_to_14_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_15_to_19_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_20_to_24_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_25_to_29_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_30_to_34_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_35_to_39_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_45_to_49_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_40_to_44_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_50_to_54_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_55_to_59_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_60_to_64_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_65_to_69_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_70_to_74_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_75_to_79_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_80_to_84_Years', axis=1)
acs_df = acs_df.drop('2019_Male_Population:_85_Years_and_Over', axis=1)
acs_df = acs_df.drop('2019_Female_Population', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_Under_5_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_5_to_9_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_10_to_14_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_15_to_19_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_20_to_24_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_25_to_29_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_30_to_34_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_35_to_39_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_45_to_49_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_40_to_44_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_50_to_54_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_55_to_59_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_60_to_64_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_65_to_69_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_70_to_74_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_75_to_79_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_80_to_84_Years', axis=1)
acs_df = acs_df.drop('2019_Female_Population:_85_Years_and_Over', axis=1)
#acs_df = acs_df.drop('2019_Population_Age_25+_by_Educational_Attainment_Base', axis=1)
#acs_df = acs_df.drop('2019_Pop_Age_25+:_No_Schooling', axis=1)
#acs_df = acs_df.drop('2019_Pop_Age_25+:_9th-12th_(No_Diploma)', axis=1)
#acs_df = acs_df.drop('2019_Pop_Age_25+:_High_School_Diploma', axis=1)
#acs_df = acs_df.drop('2019_Pop_Age_25+:_GED/Alternative_Credential', axis=1)
#acs_df = acs_df.drop('2019_Pop_Age_25+:_Some_College/No_Degree', axis=1)
#acs_df = acs_df.drop('2019_Pop_Age_25+:_Associate_Degree', axis=1)
#acs_df = acs_df.drop('Field71', axis=1)
#acs_df = acs_df.drop('Field72', axis=1)
#acs_df = acs_df.drop('2019_Pop_Age_25+:_Professional_School_Degree', axis=1)
#acs_df = acs_df.drop('2019_Pop_Age_25+:_Doctorate_Degree', axis=1)
acs_df = acs_df.drop('2019_Population_Age_15+_by_Marital_Status_Base', axis=1)
acs_df = acs_df.drop('2019_Population_Age_15+:_Never_Married', axis=1)
acs_df = acs_df.drop('2019_Population_Age_15+:_Married', axis=1)
acs_df = acs_df.drop('2019_Population_Age_15+:_Widowed', axis=1)
acs_df = acs_df.drop('2019_Population_Age_15+:_Divorced', axis=1)
acs_df = acs_df.drop('2019_Population_Age_65+', axis=1)
acs_df = acs_df.drop('2019_Pop_65+_Living_in_Households', axis=1)
acs_df = acs_df.drop('2019_Pop_65+_Living_in_Family_Households', axis=1)
acs_df = acs_df.drop('2019_Pop_65+_Living_in_Family_HHs:_Householder', axis=1)
acs_df = acs_df.drop('2019_Pop_65+_Living_in_Family_HHs:_Spouse', axis=1)
acs_df = acs_df.drop('2019_Pop_65+_Living_in_Family_HHs:_Parent', axis=1)
acs_df = acs_df.drop('2019_Pop_65+_Living_in_Family_HHs:_Parent-in-law', axis=1)
acs_df = acs_df.drop('2019_Pop_65+_Living_in_Family_HHs:_Other_Relative', axis=1)
acs_df = acs_df.drop('2019_Pop_65+_Living_in_Family_HHs:_Nonrelative', axis=1)
acs_df = acs_df.drop('2019_Pop_65+_Living_in_Nonfamily_Households', axis=1)
acs_df = acs_df.drop('2019_Pop_65+_Living_in_Nonfamily_HHs:_Householder', axis=1)
acs_df = acs_df.drop('2019_Pop_65+_Living_in_Nonfamily_HHs:_Nonrelative', axis=1)
acs_df = acs_df.drop('2019_Pop_65+_Living_in_Group_Quarters', axis=1)
acs_df = acs_df.drop('2019_Workers_Age_16+', axis=1)
acs_df = acs_df.drop('2019_Worked_in_State_and_County_of_Residence', axis=1)
acs_df = acs_df.drop('2019_Worked_in_State_but_Outside_County_of_Residence', axis=1)
acs_df = acs_df.drop('2019_Worked_Outside_State_of_Residence', axis=1)
acs_df = acs_df.drop('2019_Industry:_Agriculture/Fishing/Hunting', axis=1)
acs_df = acs_df.drop('2019_Industry:_Mining/Oil_&_Gas_Extraction', axis=1)
acs_df = acs_df.drop('2019_Industry:_Construction', axis=1)
acs_df = acs_df.drop('2019_Industry:_Manufacturing', axis=1)
acs_df = acs_df.drop('2019_Industry:_Wholesale_Trade', axis=1)
acs_df = acs_df.drop('2019_Industry:_Retail_Trade', axis=1)
acs_df = acs_df.drop('2019_Industry:_Transportation/Warehousing', axis=1)
acs_df = acs_df.drop('2019_Industry:_Utilities', axis=1)
acs_df = acs_df.drop('2019_Industry:_Information', axis=1)
acs_df = acs_df.drop('2019_Industry:_Finance/Insurance', axis=1)
acs_df = acs_df.drop('2019_Industry:_Real_Estate/Rental/Leasing', axis=1)
acs_df = acs_df.drop('2019_Industry:_Professional/Scientific/Technical_Services', axis=1)
acs_df = acs_df.drop('2019_Industry:_Management_of_Companies_and_Enterprises', axis=1)
acs_df = acs_df.drop('2019_Industry:_Administrative/Support/Waste_Management_Services', axis=1)
acs_df = acs_df.drop('2019_Industry:_Educational_Services', axis=1)
acs_df = acs_df.drop('2019_Industry:_Health_Care/Social_Assistance', axis=1)
acs_df = acs_df.drop('2019_Industry:_Arts/Entertainment/Recreation', axis=1)
acs_df = acs_df.drop('2019_Industry:_Accommodation/Food_Services', axis=1)
acs_df = acs_df.drop('2019_Industry:_Other_Services_(excluding_Public_Administration)', axis=1)
acs_df = acs_df.drop('2019_Industry:_Public_Administration', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Management', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Business/Financial', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Computer_and_Mathematical', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Architecture/Engineering', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Life/Physical/Social_Science', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Community/Social_Services', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Legal', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Education/Training/Library', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Arts/Entertainment/Sports/Media', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Healthcare_Practitioner/Technologists/Technicia', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Healthcare_Support', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Protective_Service', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Food_Preparation/Serving_Related', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Building/Grounds_Cleaning/Maintenance', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Personal_Care/Service', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Sales/Related', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Office/Administrative_Support', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Farming/Fishing/Forestry', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Construction/Extraction', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Installation/Maintenance/Repair', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Production', axis=1)
acs_df = acs_df.drop('2019_Occupation:_Transport/Material_Moving', axis=1)
acs_df = acs_df.drop('2019_Pop_19-34:_One_Type_of_Health_Insurance', axis=1)
acs_df = acs_df.drop('2019_Pop_19-34:_Employer-Based_Health_Ins_Only', axis=1)
acs_df = acs_df.drop('2019_Pop_19-34:_Direct-Purchase_Health_Ins_Only', axis=1)
acs_df = acs_df.drop('2019_Population_19-34:_Medicare_Coverage_Only', axis=1)
acs_df = acs_df.drop('2019_Population_19-34:_TRICARE/Military_Health_Only', axis=1)
acs_df = acs_df.drop('2019_Population_19-34:_VA_Health_Care_Only', axis=1)
acs_df = acs_df.drop('2019_Pop_19-34:_2+_Types_of_Health_Insurance', axis=1)
acs_df = acs_df.drop('2019_Population_19-34:_Medicaid_Coverage_Only', axis=1)
acs_df = acs_df.drop('2019_Pop_19-34:_No_Health_Insurance_Coverage', axis=1)
acs_df = acs_df.drop('2019_Civilian_Noninstitutionalized_Pop_35-64', axis=1)
acs_df = acs_df.drop('2019_Pop_35-64:_One_Type_of_Health_Insurance', axis=1)
acs_df = acs_df.drop('2019_Pop_35-64:_Employer-Based_Health_Ins_Only', axis=1)
acs_df = acs_df.drop('2019_Pop_35-64:_Direct-Purchase_Health_Ins_Only', axis=1)
acs_df = acs_df.drop('2019_Population_35-64:_Medicaid_Coverage_Only', axis=1)
acs_df = acs_df.drop('2019_Population_35-64:_Medicare_Coverage_Only', axis=1)
acs_df = acs_df.drop('2019_Population_35-64:_TRICARE/Military_Health_Only', axis=1)
acs_df = acs_df.drop('2019_Population_35-64:_VA_Health_Care_Only', axis=1)
acs_df = acs_df.drop('2019_Pop_35-64:_2+_Types_of_Health_Insurance', axis=1)
acs_df = acs_df.drop('2019_Pop_35-64:_No_Health_Insurance_Coverage', axis=1)
acs_df = acs_df.drop('2019_Civilian_Noninstitutionalized_Pop_Age_65+', axis=1)
acs_df = acs_df.drop('2019_Pop_65+:_One_Type_of_Health_Insurance', axis=1)
acs_df = acs_df.drop('2019_Pop_65+:_Employer-Based_Health_Ins_Only', axis=1)
acs_df = acs_df.drop('2019_Pop_65+:_Direct-Purchase_Health_Ins_Only', axis=1)
acs_df = acs_df.drop('2019_Population_65+:_Medicare_Coverage_Only', axis=1)
acs_df = acs_df.drop('2019_Population_65+:_TRICARE/Military_Health_Only', axis=1)
acs_df = acs_df.drop('2019_Population_65+:_VA_Health_Care_Only', axis=1)
acs_df = acs_df.drop('2019_Pop_65+:_2+_Types_of_Health_Insurance', axis=1)
acs_df = acs_df.drop('2019_Pop_65+:_No_Health_Insurance_Coverage', axis=1)
acs_df = acs_df.drop('2019_Population_65+:_Employer-Based_&_Direct-Purchase_Hlth', axis=1)
acs_df = acs_df.drop('2019_Population_65+:_Employer-Based_Hlth_&_Medicare', axis=1)
acs_df = acs_df.drop('2019_Population_65+:_Direct-Purchase_Hlth_&_Medicare', axis=1)
acs_df = acs_df.drop('2019_Population_65+:_Medicare_&_Medicaid_Coverage', axis=1)
acs_df = acs_df.drop('2019_Pop_65+:_Other_Private_Health_Ins_Combos', axis=1)
acs_df = acs_df.drop('2019_Pop_65+:_Other_Public_Health_Ins_Combos', axis=1)
acs_df = acs_df.drop('2019_Pop_65+:_Other_Health_Ins_Combinations', axis=1)
acs_df = acs_df.drop('2019_Population_in_Households', axis=1)
acs_df = acs_df.drop('2019_Population_18-64_in_Households', axis=1)
acs_df = acs_df.drop('2019_Family_Households', axis=1)
acs_df = acs_df.drop('2019_Nonfamily_Households', axis=1)
acs_df = acs_df.drop('2019_Households_with_Population_Age_<18', axis=1)
acs_df = acs_df.drop('2019_Households_w/Population_Age_65+', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_<_$10000', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$10000-$14999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$15000-$19999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$20000-$24999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$25000-$29999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$30000-$34999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$35000-$39999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$40000-$44999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$45000-$49999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$50000-$59999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$60000-$74999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$75000-$99999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$100000-$124999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$125000-$149999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$150000-$199999', axis=1)
acs_df = acs_df.drop('2019_Households_by_Income:_$200000+', axis=1)
acs_df = acs_df.drop('2019_HH_Income_&_HHr_Age_15-24_Base', axis=1)
#acs_df = acs_df.drop('2019_Median_HH_Income:_HHr_Age_15-24', axis=1)
acs_df = acs_df.drop('2019_Average_HH_Income:_Householder_15-24', axis=1)
acs_df = acs_df.drop('2019_HH_Income_&_HHr_Age_25-44_Base', axis=1)
#acs_df = acs_df.drop('2019_Median_HH_Income:_HHr_Age_25-44', axis=1)
acs_df = acs_df.drop('2019_Average_HH_Income:_Householder_25-44', axis=1)
acs_df = acs_df.drop('2019_HH_Income_&_HHr_Age_45-64_Base', axis=1)
#acs_df = acs_df.drop('2019_Median_HH_Income:_HHr_Age_45-64', axis=1)
acs_df = acs_df.drop('2019_Average_HH_Income:_Householder_45-64', axis=1)
acs_df = acs_df.drop('2019_HH_Income_&_HHr_Age_65+_Base', axis=1)
#acs_df = acs_df.drop('2019_Median_HH_Income:_HHr_Age_65+', axis=1)
acs_df = acs_df.drop('2019_Households_Below_the_Poverty_Level', axis=1)
acs_df = acs_df.drop('2019_Households_with_1+_Persons_with_a_Disability', axis=1)
acs_df = acs_df.drop('2019_HHs_with_No_Persons_with_a_Disability', axis=1)
acs_df = acs_df.drop('2019_Average_HH_Income:_Householder_65+', axis=1)
acs_df = acs_df.drop('2019_Median_Household_Income', axis=1)
acs_df = acs_df.drop('2019_Average_HH_Income', axis=1)
acs_df = acs_df.drop('2019_Total_Population', axis=1)
acs_df

,ZIP,CITY,STATE,2019_Total_Population:_20_to_24_Years,2019_Total_Population:_25_to_29_Years,2019_Total_Population:_30_to_34_Years,2019_Total_Population:_35_to_39_Years,2019_Total_Population:_40_to_44_Years,2019_Total_Population:_45_to_49_Years,2019_Total_Population:_50_to_54_Years,...,2019_Pop_Age_25+:_Some_College/No_Degree,2019_Pop_Age_25+:_Associate_Degree,Field71,Field72,2019_Pop_Age_25+:_Professional_School_Degree,2019_Pop_Age_25+:_Doctorate_Degree,2019_Median_HH_Income:_HHr_Age_15-24,2019_Median_HH_Income:_HHr_Age_25-44,2019_Median_HH_Income:_HHr_Age_45-64,2019_Median_HH_Income:_HHr_Age_65+
0,1001,Agawam,MA,650,1027,1153,773,1217,1038,1331,...,2632,1261,2502,1479,115,86,27747,78863,81899,45841
1,1002,Amherst,MA,11249,2023,1344,1017,951,1012,1273,...,1541,715,3372,3138,624,2140,26373,55775,98699,77235
2,1003,Amherst,MA,2734,31,0,7,0,0,0,...,22,8,9,4,0,0,5000,0,0,87500
3,1005,Barre,MA,414,213,310,121,149,475,368,...,622,292,584,520,78,28,5000,79869,84112,51184
4,1007,Belchertown,MA,1252,597,755,987,823,1113,1416,...,1464,916,2553,1767,282,312,28089,100454,112125,54294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32104,99923,Hyder,AK,0,0,0,0,0,0,0,...,0,0,14,0,0,0,0,0,0,37500
32105,99925,Klawock,AK,41,47,52,26,41,71,79,...,125,61,71,28,2,0,16902,62061,76387,35443
32106,99926,Metlakatla,AK,107,120,109,95,79,104,116,...,342,93,76,25,8,0,27500,62796,76302,32565
32107,99929,Wrangell,AK,51,186,113,96,126,181,199,...,448,161,248,106,9,8,30904,62225,74787,36705
32108,99950,Ketchikan,AK,30,49,50,70,61,67,47,...,142,43,77,31,0,0,12915,62498,43053,40000

In [6]:
# Renaming '71' and '72' to correct names
acs_df.rename(columns={"Field71":"2019_Pop_Age_25+:_Bachelors_Degree"}, inplace=True)
acs_df.rename(columns={"Field72":"2019_Pop_Age_25+:_Graduate_Degree"}, inplace=True)

In [7]:
# Check for missing values in the data.
acs_df.isnull().sum()

ZIP                                                       0
CITY                                                      0
STATE                                                     0
2019_Total_Population:_20_to_24_Years                     0
2019_Total_Population:_25_to_29_Years                     0
2019_Total_Population:_30_to_34_Years                     0
2019_Total_Population:_35_to_39_Years                     0
2019_Total_Population:_40_to_44_Years                     0
2019_Total_Population:_45_to_49_Years                     0
2019_Total_Population:_50_to_54_Years                     0
2019_Total_Population:_55_to_59_Years                     0
2019_Total_Population:_60_to_64_Years                     0
2019_Total_Population:_65_to_69_Years                     0
2019_Population_Age_25+_by_Educational_Attainment_Base    0
2019_Pop_Age_25+:_No_Schooling                            0
2019_Pop_Age_25+:_9th-12th_(No_Diploma)                   0
2019_Pop_Age_25+:_High_School_Diploma                     0
2019_Pop_Age_25+:_GED/Alternative_Credential              0
2019_Pop_Age_25+:_Some_College/No_Degree                  0
2019_Pop_Age_25+:_Associate_Degree                        0
2019_Pop_Age_25+:_Bachelors_Degree                        0
2019_Pop_Age_25+:_Graduate_Degree                         0
2019_Pop_Age_25+:_Professional_School_Degree              0
2019_Pop_Age_25+:_Doctorate_Degree                        0
2019_Median_HH_Income:_HHr_Age_15-24                      0
2019_Median_HH_Income:_HHr_Age_25-44                      0
2019_Median_HH_Income:_HHr_Age_45-64                      0
2019_Median_HH_Income:_HHr_Age_65+                        0
dtype: int64

In [8]:
# Get data types for the DataFrame.
acs_df.dtypes

ZIP                                                        int64
CITY                                                      object
STATE                                                     object
2019_Total_Population:_20_to_24_Years                      int64
2019_Total_Population:_25_to_29_Years                      int64
2019_Total_Population:_30_to_34_Years                      int64
2019_Total_Population:_35_to_39_Years                      int64
2019_Total_Population:_40_to_44_Years                      int64
2019_Total_Population:_45_to_49_Years                      int64
2019_Total_Population:_50_to_54_Years                      int64
2019_Total_Population:_55_to_59_Years                      int64
2019_Total_Population:_60_to_64_Years                      int64
2019_Total_Population:_65_to_69_Years                      int64
2019_Population_Age_25+_by_Educational_Attainment_Base     int64
2019_Pop_Age_25+:_No_Schooling                             int64
2019_Pop_Age_25+:_9th-12th_(No_Diploma)                    int64
2019_Pop_Age_25+:_High_School_Diploma                      int64
2019_Pop_Age_25+:_GED/Alternative_Credential               int64
2019_Pop_Age_25+:_Some_College/No_Degree                   int64
2019_Pop_Age_25+:_Associate_Degree                         int64
2019_Pop_Age_25+:_Bachelors_Degree                         int64
2019_Pop_Age_25+:_Graduate_Degree                          int64
2019_Pop_Age_25+:_Professional_School_Degree               int64
2019_Pop_Age_25+:_Doctorate_Degree                         int64
2019_Median_HH_Income:_HHr_Age_15-24                       int64
2019_Median_HH_Income:_HHr_Age_25-44                       int64
2019_Median_HH_Income:_HHr_Age_45-64                       int64
2019_Median_HH_Income:_HHr_Age_65+                         int64
dtype: object

In [9]:
# Saving the DataFrame as a csv
acs_df.to_csv('cleaned_acs.csv')